/* TOP IMAGES*/
header {
    background-color: rgb(79,161,255);
    background-image: url('../img/pattern.png');
    background-size: 25%;
}
#logo {
    height: 50px;
    padding-top: 25px;
}
/* TITLES */
h1 {
    font-size: 35px;
    margin: 0px;
}
#subtitle {
    color:rgb(155,155,155);
    font-size: 10px;
    margin: 0px;
}
#subtitle a{
    color: rgb(24, 166, 228);
    font-size: 13px;
}
/* CAPTION SIZE */
.did {
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
}
/* ORDERED LIST PADDING */
ul {
    padding: 10px;
}
/* ABLE SIZE AND BORDERCOLOR */
table {
    border-collapse: collapse;
}
thead {
    background-color: rgb(32, 169, 229);
    color: white;
    text-align: left;
}
th {
    font-size: 11px;
}
.resizing {
    width: 20%;
}
.colorfill {
    background-color: rgb(177,229,242);
}
#marginfix {
    margin: 30px 0px;

}
#grey {
    color: rgb(124, 124, 124)
}
#inline1 {
    background-image: url(../img/monitor.jpg);
}
#inline2 {
    background-image: url(../img/graph.jpg);
}
.inline {
    width: 312px;
    height: 208px;
    margin-bottom: 15px;
}
.inlinetxt{
    padding: 1em;
    font-weight: 700;
    color: white;
    font-size: 24px;
    margin: 0px;
}